<div
    class="entries__entry entries__entry_<%= post_entry.status %>"
    id="entry-<%= post_entry.id %>"
>
    <% post_entry.post.tap do |post| %>
        <span class="entry__title">
            <%= image_tag(favicon_url(post.source), class: 'entry__favicon') %>
            <%= link_to(post.title, post.url,
                        class: 'nice-link entry__link',
                        target: '_blank') %>

            <%= link_to('', update_status_path(id: post_entry, status: 'read'),
                        class: 'entry__read-link',
                        method: 'put',
                        hidden: true,
                        remote: true) %>

            <span class="entry__title-delimiter">·</span>
            <span class="entry__title-author">
                <%= post.source.title %>
            </span>

            <% if post_entry.read? %>
                <%= link_to('Mark unread', update_status_path(id: post_entry, status: 'unread'),
                        method: 'put',
                        class: 'entry__unread-link nice-button nice-button_chill',
                        remote: true) %>
            <% end %>
        </span>

        <div class="entry__summary">
            <%= truncate strip_tags(post.summary), length: 280 %>
        </div>

        <span class="entry__time-ago">
            <%= time_ago_in_words (post.published_at || post.created_at) %>
        </span>
    <% end %>
</div>
