<!DOCTYPE html>
<html>
  <head>
    <title>Reader</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="user-bar">
        <span class="user-bar__email"><%= current_user.email %></span>
        <%= link_to 'Logout', logout_path, method: 'post', class: 'nice-button chill' %>
    </div>

    <%= render 'layouts/flash' %>

    <%= yield %>
  </body>
</html>
